{{! write anything below this to get it featured on your front page }}
<section class="post-list">
    <article class="post-item">
        <p><a href="http://rob-bateman.com">Rob Bateman</a> is a coder, author, company owner & part-time physicist. For more on his affiliations, click the links below. To get in contact, email <a href="mailto:rob@infiniteturtles.co.uk">rob@infiniteturtles.co.uk</a></p>
        <p style="margin:0px;"><a href="http://theawayfoundation.org"><img align="top" src="/content/images/2015/02/away_foundation_logo_def.png" width="102" height="90"/></a>
            <a href="http://awaystudios.com"><img align="top" src="/content/images/2015/02/awaystudios_logo_def.png" width="108" height="75"/></a>
            <a href="http://away3d.com"><img align="top" src="/content/images/2015/02/away3d_logo_def_black.png" width="100" height="72"/></a>
            <a href="http://awaybuilder.com"><img align="top" src="/content/images/2015/02/awaybuilder_logo_def.png" width="90" height="76"/></a>
            <a href="http://awdformat.com"><img align="top" src="/content/images/2015/02/awd_logo_def.png" width="75" height="75"/></a>&nbsp;&nbsp;
            <a href="http://www.amazon.co.uk/The-Essential-Guide-3D-Flash/dp/1430225416"><img align="top" src="/content/images/2015/02/3dinflashbook-238x300.jpg" width="60" height="75"/></a></p>
    </article>
    <article class="post-item" style="padding-bottom:0px"/>
</section>
